{% extends 'common/base.html' %}
{% load static %}


{% block content %}
	
     <form class='profile-edit' method="post">

         {{ form.email.label_tag }}
     {{ form.email }}
     {{ form.email.errors }}
         
         {{ form.username.label_tag }}
     {{ form.username }}
     {{ form.username.errors }}
         
         {{ form.first_name.label_tag }}

     {{ form.first_name }}
     {{ form.first_name.errors }}


         {{ form.last_name.label_tag }}
     {{ form.last_name }}
     {{ form.last_name.errors }}
     {% csrf_token %}
     <button>Submit</button>
     </form>
    
{% endblock %}