{% load static %}

<header>

  
<nav class="navbar">
        <div class="container">
             <a class="navbar-brand" href="/">
                <img src="{% static 'images/download.png' %}" alt="TrainerApp Logo" class="logo">
            </a>

            <div class="navbar-links">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'popular-workouts' %}">Popular Workouts</a>
            
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'liked-workouts' %}">Liked Workouts</a>
                {% else %}
                {% endif %}
            
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'favorite-trainers' %}">Favorite Trainers</a>
                {% endif %}
            
                {% if request.user.is_authenticated and request.user.userprofile.is_trainer %}
                    <a class="nav-link" href="{% url 'create-workout' %}">Post a workout</a>
                {% endif %}

                {% if request.user.is_authenticated and not request.user.userprofile.is_trainer and request.user.userprofile.is_approved is None and not request.user.userprofile.experience_years %}
                    <a class="nav-link" href="{% url 'info-edit' request.user.userprofile.pk %}">Become a trainer</a>
                {% endif %}

                {% if not request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'login'%}">Login to become a trainer</a>
                {% endif %}
            
                {% if request.user.is_staff or request.user.is_superuser %}
                    <a class="nav-link" href="{% url 'approve-trainers'%}">Approve trainers</a>
                {% endif %}
            </div>

            <div class="action-buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile-details' request.user.pk %}" class="btn btn-profile">Profile</a>
                    <form method="post" action="{% url 'logout' %}" class='form-logout'>
                        {% csrf_token %}
                        <button class="button logout-button" type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-profile">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-register">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>